<h1>Hello</h1>

<form class="js-create-post-form">
  <input class="js-post-create-form-title">
  <input class="js-post-create-form-body">
  <input type="submit" class="js-post-create-submit">
</form>
